# Local .terraform directories
**/.terraform/*

# .tfstaet files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# no creds
*.pem
*.ppk

# terraformrc file
terraform.rc
.etrraformrc

# others
*.backup
*.hcl
*.txt
*.json
*.zip
.terraform/
registry.terraform.io/git 
terraform.tfstate
terraform.tfstate.backup